@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Bree+Serif&family=Bungee+Shade&family=Josefin+Sans:wght@100;700&family=Kaushan+Script&family=Montserrat+Alternates:wght@100&family=Montserrat:wght@800;900&family=Oswald:wght@700&family=Prata&family=Roboto:wght@900&family=Rubik+Moonrocks&family=Russo+One&family=Ubuntu:wght@700&family=Yeseva+One&display=swap');
* {
	cursor: url("image/cursor2.png");
}
body {
	margin: 0;
	padding: 0;
}
.back {
	/*background: url("image/sun.gif") no-repeat center center fixed;*/
	
	/*background-color: #1d1d1d;
	width: 100%;
	background-size: cover;
	overflow-x: hidden;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;*/
    background: url("image/hero-bg.jpg") no-repeat center center fixed;
    background-size: cover;
}

